.auth{
    .anticon {
        opacity: 0.5;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .auth__top{
        text-align: center;
        margin-bottom: 50px;
        h2{
            font-size: 28px;
            margin-bottom: 5px;
        }
        p{
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.1px;
            opacity: 0.5;
        }
    }
    .block{
        width: 430px;
    }
    &__register-link{
        text-align: center;
        display:block;
        letter-spacing: 0.1px;
        font-size: 16px;
        color: #ADADAD
    }
    .button{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1px;
        width: 100%;
    }
    &__success-block{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 400px;
        h2{
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        p{
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.1px;
            opacity: 0.5;
            margin-top: 15px;
        }
    }
}