.dialogs {
    width: 300px;
    &__item {
        $item: &;
        display: flex;
        margin-bottom: 15px;
        &-avatar {
            position: relative;
            margin-right: 10px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        &--online {
            #{$item}-avatar {
                &::before {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    content: "";
                    background: #00C980;
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                    border: 2px solid #fff;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            &-top {
                display: flex;
                &-username {
                    flex: 1;
                    font-weight: 500;
                    font-size: 14px;
                    margin-bottom: 6px;
                }
                &-date{ 
                    opacity: 0.5;
                }
            }
            &-bottom 
            {
                position: relative;
                &-text {
                    text-overflow: ellipsis;
                    overflow: hidden; 
                    width: 230px; 
                    height: 1.2em; 
                    white-space: nowrap;
                    opacity: 0.5;
                }
                .message__readed {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: auto;
                }
                &-unreaded {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: #f46b6b;
                    color: #fff;
                    font-weight: bold;
                    max-width: 25px;
                    min-width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    text-align: center;
                    vertical-align: center;
                    font-size: 11px;
                    line-height: 17px;
                    box-shadow: 0 0 3px #fff;
                }
            }
        }
        
    }
}