.chat {
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 1140px;
    margin: 0 auto;
    &__sidebar {
        border-right: 1px solid #f7f8f9;
        width: 340px;
        &-header {
            display: flex;
            justify-content: space-between;
            padding: 16.9px 20px;
            border-bottom: 1px solid #f7f7f7;
            margin-bottom: 20px;
             & > div {
                span {
                    margin-left: 5px;
                }
            }

            .anticon-form {
                opacity: 0.5;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }
                transition: all 0.3s ease;
            }
        }


        &-dialogs {
            overflow: auto;
            height: calc(100% - 136px);
        }
    }

    &__dialog {
        flex: 1;
        
        &-header {
            padding: 12px 22px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #f7f7f7;
            width: 100%;
            &-status {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &-fullname {
                    margin-bottom: 5px;
                    font-weight: 600;
                }

                .status {
                    opacity: 0.4;
                    position: relative;
                    &::before {
                        display: block;
                        content: '';
                        width: 6px;
                        height: 6px;
                        background-color: #d3d3d3;
                        position: absolute;
                        bottom: 4px;
                        left: -9px;
                        border-radius: 50%;
                    }
                    &--online {
                        &::before {
                            background-color: #00c980;
                        }
                    }
                }
            }
            
            .anticon-ellipsis {
                opacity: 0.5;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }
                transition: all 0.3s ease;
            }
        }

        &-messages {
            padding: 20px 30px;
            overflow: auto;
            height: calc(100% - 138px);
            position: relative;
            .ant-empty {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-input {
            padding: 10px;
        }
    }
}