.dialogs {
    height: 100%;
    &__search {
        padding: 2px 20px 20px 20px;

        .ant-input {
            background-color: #f7f8f9;
            border: 0;
            height: 34px;
            padding: 4px 11px 6px;
        }
        .ant-btn {
            background-color: #f7f8f9;
            border: 0;
        }
    }
    &__content {
        height: 100%;
        overflow: auto;
        &--loading{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}