

.message {
    $self: &;
    &__content {
        display: flex;
        max-width: 440px;
        margin-bottom: 20px;
        position: relative;
    }
    
    &__avatar {
        display: flex;
        flex-direction: column-reverse;
        img {
            border-radius: 50px;
            width: 33px;
            height: 33px;
            margin-right: 13px;
            margin-bottom: 5px;
        }
        padding-left: 10px;
        padding-right: 10px;
    }

    &__info {
        display: flex;
        flex-direction: column;;
    }

    &__bubble {
        position: relative;
        overflow: hidden;
        background:  #3674ff;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.20);
        border-radius: 12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 8px;
    }

    &__text {
        color: #fff;
        line-height: 20px;
    }

    &__audio {
        &-info {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-btn {
            button {
                cursor: pointer;
                border: 0;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: #0F3997;
                img {
                    width: 13px;
                }
            }
        }
        &-duration {
            color: #fff;
            font-weight: 500;
            opacity: 0.5;
            font-size: 14px;
        }
        &-progress {
            background: #418fff;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: width 0.3s ease;
        }
    }
    &--audio {
        #{$self}__bubble {
            width: 250px;
        }
    }

    &__attachments {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5px;
        padding-left: 60px;
        img {
            width: 45px;
            height: 45px;
            border-radius: 10px;
        }
    }

    &--image {
        #{$self}__attachments {
            img {
                height: 150px;
                width: 150px;
            }
        }
    }

    &__attachment-item {
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    &__date {
        font-size: 12px;
        opacity: 0.4;
    }


    &--isme {
        display: flex;
        flex-direction: row-reverse;

        #{$self}__content {
            margin-bottom: 15px;
            display: flex;
            flex-direction: row-reverse;
        }

        #{$self}__avatar {
            img {
                margin-right: 0;
                margin-left: 13px;
            }
        }

        #{$self}__date{
            text-align: right;
        }

        #{$self}__bubble {
            background: #fff;
            border: 1px solid #ececec;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
            border-radius: 12px 12px 0px 12px;
        }

        #{$self}__text {
            color: black; 
        }

        #{$self}__readed {
            padding: 10px;
            margin-bottom: -20px;
        }
        #{$self}__attachments {
            align-items: flex-end;
            padding-right: 60px;
        }
    }

    &__typing {

        #{$self}__bubble {
            background: #E5EDFF;
            box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.08);
            padding: 15px 20px;
        }
        span {
            
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: #A6BDF0;
            display: inline-block;
            margin-right: 8px;
            animation-name: typingAnimation;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 0.5s;

            &:nth-of-type(2) {
                animation-delay: 0.6s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.7s;
            }
        }
    }

    &:hover{
        #{$self}__popover{
            display: block;
        }
    }

    &__popover{
        display: none;
        position: absolute;
        right: 47px;
        span{
            transform: rotate(90deg);   
        }
    }

    &__popoverItems{
        display: flex;
        flex-direction: column;
        button{
            margin: 2px;
        }
    }
}

@keyframes typingAnimation{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

